---
layout: layout/mylayout.ejs

pagination:
    data: about
    size: 1
    alias: post

eleventyComputed:
    title: <%- post.Title %>
---

<section class="mx-4">
    <div class="container">
        
        <div class="row p-4 align-items-center rounded-3 border shadow-lg" style="background-color: #f8f9fa;">
            <div class="p-3 pt-lg-3 w-100">
                <h1 class="display-4">About Me</h1>
                <div class="container">
                    <p class="lead text-muted" ><%- post.Content %></p>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    p
    {
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
        font-size: medium;
    }
</style>
