---
layout: layout/mylayout.ejs
title: Expertise
---
<div class="container col-md-10 mx-auto">
	<h1 class="display-4 text-center">My Expertise</h1>
	<p class="lead text-center">Ramiyan Gangatharan - Software Developer</p>
	<p class="lead text-center">
		<a href="mailto:ramiyan2185@gmail.com" class="btn btn-outline-primary btn-sm" style="width: 100px;" aria-label="Send email to Ramiyan">Email</a>
		<a href="tel:+14164577411" class="btn btn-outline-primary btn-sm" style="width: 100px;" aria-label="Call Ramiyan">Phone</a>
		<a href="https://www.linkedin.com/in/ramiyan-gangatharan/" class="btn btn-outline-primary btn-sm" style="width: 100px;" aria-label="Visit Ramiyan's LinkedIn">LinkedIn</a>
		<a href="https://github.com/RamiyanGangatharan" class="btn btn-outline-primary btn-sm" style="width: 100px;" aria-label="Visit Ramiyan's GitHub">GitHub</a>
	</p>
	<hr>
	<div class="container my-4 text-center">
		<p class="lead">Check out my work: </p>
		<a href="/personal" class="btn btn-outline-primary btn-sm" style="width: 200px;" aria-label="Call Ramiyan">Personal Projects</a>
		<a href="/academic" class="btn btn-outline-primary btn-sm" style="width: 200px;" aria-label="Visit Ramiyan's LinkedIn">Academic Projects</a>
		<a href="/resume" class="btn btn-outline-primary btn-sm" style="width: 200px;" aria-label="Visit Ramiyan's GitHub">Resume</a>
	</div>
	
	
		
	<p class="lead"></p>
	<div class="card mb-5 shadow-sm">
		<div class="card-body">
			<h3 class="display-6  mb-4">Work Experience</h3>
			<!-- Durham College Section -->
			<div class="mb-5">
				<h4 class="h5 fw-bold">Durham College</h4>
				<!-- Capstone Project -->
				<div class="mb-4">
					<p class="mb-1 fw-semibold">Full Stack Developer - Capstone Project</p>
					<p class="text-muted mb-2">January 2025 - April 2025</p>
					<ul>
						<li>Information coming soon, currently in the works.</li>
					</ul>
				</div>
				<!-- Field Placement -->
				<div>
					<p class="mb-1 fw-semibold">Full Stack Developer - Field Placement</p>
					<p class="text-muted mb-2">April 2025 - May 2025</p>
					<ul>
						<li>Information coming soon, currently in the works.</li>
					</ul>
				</div>
			</div>
			<hr>
			<!-- Tim Hortons Section -->
			<div>
				<h4 class="h5 fw-bold">Tim Hortons</h4>
				<!-- Shift Supervisor -->
				<div class="mb-4">
					<p class="mb-1 fw-semibold">Shift Supervisor</p>
					<p class="text-muted mb-2">May 2023 - July 2024</p>
					<ul>
						<li>Oversaw daily shift operations, addressed customer inquiries, and led a team of twelve in a fast-paced environment.</li>
						<li>Implemented a waste management system to reduce waste and increase profitability.</li>
						<li>Assisted in inventory management and team scheduling.</li>
					</ul>
				</div>
				<!-- Team Leader -->
				<div class="mb-4">
					<p class="mb-1 fw-semibold">Team Leader</p>
					<p class="text-muted mb-2">September 2022 - May 2023</p>
					<ul>
						<li>Served as an apprentice under managerial guidance, honing leadership skills while overseeing a small team.</li>
						<li>Refined and adapted leadership techniques through mentorship.</li>
					</ul>
				</div>
				<!-- Counter Staff -->
				<div>
					<p class="mb-1 fw-semibold">Counter Staff</p>
					<p class="text-muted mb-2">November 2021 - September 2022</p>
					<ul>
						<li>Operated a point-of-sale system to manage transactions efficiently.</li>
						<li>Collaborated with team members to maintain an organized and sanitary work environment.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="card mb-5 shadow-sm">
		<div class="card-body">
			<h3 class="display-6  mb-4">Technical Skills</h3>
		</div>
	</div>
	<div class="card mb-5 shadow-sm">
		<div class="card-body">
			<h3 class="display-6 ">Education</h3>
			<!-- <hr> -->
			<!-- <div class="mt-4">
				<h4 class="h5 fw-bold">University of Ontario Institute of Technology</h4>
				<p class="mb-1">Bachelors of Science (Honours), Computer Science Advanced Entry</p>
				<p class="text-muted">September 2025 - April 2027 <br> GPA: TBD</p>
				<div class="row">
					<div class="col-md-4 mb-4">
						<h5 class="h6 fw-bold mb-2">Awards</h5>
						<ul>
							<li>N/A</li>
						</ul>
					</div>
					<div class="col-md-8">
						<h5 class="h6 fw-bold mb-3">Courses</h5>
						<div class="row">
							<div class="col-lg-6 mb-4">
								<h6 class="h6 fw-semibold">Semester 1</h6>
								<ul>
									<li>Calculus I</li>
									<li>Physics I</li>
									<li>Software Quality Assurance</li>
									<li>Discrete Mathematics for CS</li>
									<li>General Education Elective I</li>
								</ul>
							</div>
							<div class="col-lg-6">
								<h6 class="h6 fw-semibold">Semester 2</h6>
								<ul>
									<li>Calculus II</li>
									<li>Physics II</li>
									<li>Linear Algebra for Engineers</li>
									<li>Computer Graphics and Visualization</li>
								</ul>
							</div>
							<div class="col-lg-6 mb-4">
								<h6 class="h6 fw-semibold">Semester 3</h6>
								<ul>
									<li>General Education Elective II</li>
									<li>Computer Science Thesis Project I</li>
									<li>Scientific Data Analysis</li>
									<li>Programming Languages</li>
								</ul>
							</div>
							<div class="col-lg-6">
								<h6 class="h6 fw-semibold">Semester 4</h6>
								<ul>
									<li>Computer Science Thesis Project II</li>
									<li>Computational Science I</li>
									<li>Analysis and Design of Algorithms</li>
									<li>Compilers</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div> -->
			<hr>
			<div class="mt-4">
				<h4 class="h5 fw-bold mb-2">Durham College</h4>
				<p class="mb-1">Ontario College Advanced Diploma, Computer Programming & Analysis</p>
				<p class="text-muted mb-3">September 2022 - April 2025 <br> GPA: 3.79/5.0</p>
				<div class="row">
					<div class="col-md-4 mb-4">
						<h5 class="h6 fw-bold mb-2">Awards</h5>
						<ul>
							<li>Honour Roll - Winter 2023</li>
							<li>Honour Roll - Fall 2023</li>
							<li>Honour Roll - Winter 2024</li>
							<li>Honour Roll - Fall 2024</li>
							<li>Honour Roll - Winter 2025</li>
						</ul>

                        <h5 class="h6 fw-bold mb-2">Notes</h5>
						<p class="lead" style="text-align: justify-self;">
                            In March of 2025, I participated in the inaugural Durham College Faculty of Science Engineering & Information Technology Hackathon, 
                            where our team developed a website aimed at enhancing the experience and usability of Durham Region Transit and thier various services. We utilized Durham 
                            Region Transit OpenData to fetch the necessary data for our application. 
                        </p>
					</div>
					<div class="col-md-8">
						<h5 class="h6 fw-bold mb-3">Courses</h5>
						<div class="row">
							<div class="col-lg-6 mb-4">
								<h6 class="h6 fw-semibold">Semester 1</h6>
								<ul>
									<li>Communication Foundations</li>
									<li>Computer Systems - Hardware</li>
									<li>Introduction to Programming</li>
									<li>Data Communications and Networking I</li>
									<li>Introduction to Databases</li>
									<li>Mathematics for IT</li>
								</ul>
							</div>
							<div class="col-lg-6 mb-4">
								<h6 class="h6 fw-semibold">Semester 2</h6>
								<ul>
									<li>Object-Oriented Programming I</li>
									<li>General Education Elective I</li>
									<li>Web Development - Fundamentals</li>
									<li>Software Testing and Automation</li>
									<li>Systems Development I</li>
									<li>Business for IT Professionals</li>
								</ul>
							</div>
							<div class="col-lg-6 mb-4">
								<h6 class="h6 fw-semibold">Semester 3</h6>
								<ul>
									<li>IT Career Essentials</li>
									<li>Object-Oriented Programming II</li>
									<li>General Education Elective II</li>
									<li>Web Development - Intermediate</li>
									<li>Database Development I</li>
									<li>Systems Development II</li>
								</ul>
							</div>
							<div class="col-lg-6 mb-4">
								<h6 class="h6 fw-semibold">Semester 4</h6>
								<ul>
									<li>Object-Oriented Programming III</li>
									<li>General Education Elective III</li>
									<li>Mainframe Development I</li>
									<li>Web Development - Enterprise</li>
									<li>Web Development - Client Side Script</li>
									<li>Cloud Technology Fundamentals</li>
								</ul>
							</div>
							<div class="col-lg-6 mb-4">
								<h6 class="h6 fw-semibold">Semester 5</h6>
								<ul>
									<li>Mainframe Development II</li>
									<li>Mobile Development</li>
									<li>Web Development - Frameworks</li>
									<li>Emerging Technologies</li>
									<li>Cloud Technology for Developers</li>
								</ul>
							</div>
							<div class="col-lg-6">
								<h6 class="h6 fw-semibold">Semester 6</h6>
								<ul>
									<li>Capstone Project</li>
									<li>Field Placement</li>
									<li>Cloud Technology Operations</li>
									<li>Database Development II</li>
									<li>Cross-Functional Collaboration</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="mt-4">
				<h4 class="h5 fw-bold mb-2">Centennial College</h4>
				<p class="mb-1">Ontario College Advanced Diploma (Incomplete), Software Engineering Technology</p>
				<p class="text-muted mb-3">September 2021 - April 2022 <br> GPA: 2.0/5.0</p>
				<div class="row">
					<!-- Awards Section -->
					<div class="col-md-4 mb-4">
						<h5 class="h6 fw-bold mb-2">Awards</h5>
						<p>None</p>
					</div>
					<!-- Courses Section -->
					<div class="col-md-8">
						<h5 class="h6 fw-bold mb-3">Courses</h5>
						<div class="row">
							<div class="col-lg-6 mb-4">
								<h6 class="h6 fw-semibold">Semester 1</h6>
								<ul>
									<li>College Communications I</li>
									<li>Programming I</li>
									<li>Software Engineering Fundamentals</li>
									<li>Web Interface Design</li>
									<li>Functions and Number Systems</li>
									<li>General Education Elective</li>
								</ul>
							</div>
							<div class="col-lg-6">
								<h6 class="h6 fw-semibold">Semester 2</h6>
								<ul>
									<li>College Communications II</li>
									<li>Introduction to Database Concepts</li>
									<li>Programming II</li>
									<li>Client-Side Web Development</li>
									<li>Software Requirements Engineering</li>
									<li>Unix/Linux Operating Systems</li>
									<li>Discrete Mathematics</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
            <hr>
            <div class="mt-4">
				<h4 class="h5 fw-bold mb-2">Clarington Central Secondary School</h4>
				<p class="mb-1">Ontario Secondary School Diploma</p>
				<p class="text-muted mb-3">September 2017 - June 2021</p>
			</div>
			<hr>
		</div>
	</div>
</div>