---
layout: layout/mylayout.ejs
title: Home
---

<section class="my-5">
    <div class="container">
        <div class="row p-4 align-items-center rounded-3 border shadow-lg" style="background-color: #f8f9fa;">
            <div class="col-lg-7 col-md-12 p-3 pt-lg-3">
                <h1 class="display-4">Ramiyan Gangatharan</h1>
                <p class="lead text-muted mb-1">Full-Stack Software Developer</p>
                <p class="lead text-muted mb-2">Toronto, ON</p>
            </div>
            <div class="col-lg-5 col-md-12 p-0 position-relative">
                <img class="img-fluid rounded-lg-3" 
                     src="/img/pfp2.jpg" 
                     alt="Profile picture" 
                     style="object-fit: cover; height: auto;">
            </div>
        </div>
    </div>
</section>
