---
layout: layout/mylayout.ejs
title: Resume
---

<style>
    iframe {
        border-radius: 24px; /* Rounded corners for the iframe */
        width: 100%; /* Full width */
        height: 700px; /* Fixed height */
    }
</style>

<div class="container">
    <iframe class="embed-responsive" src="/assets/Resume_Programmer.pdf"></iframe>
</div>
