<div class="text-center mt-4 mb-4">
    <nav class="navbar-expand-lg navbar-light bg-transparent">
        <div class="container-fluid d-flex justify-content-center">
            <ul class="navbar-nav d-flex flex-wrap justify-content-center">
                <li class="nav-item me-2"><div class="card text-center"><a class="nav-link card-body p-3" href="/assignments/">Assignment 1A</a></div></li>
                <li class="nav-item me-2"><div class="card text-center"><a class="nav-link card-body p-3" href="/assignments/1/">Assignment 1B</a></div></li>
                <li class="nav-item me-2"><div class="card text-center"><a class="nav-link card-body p-3" href="/assignments/2/">Assignment 2A</a></div></li>
                <li class="nav-item me-2"><div class="card text-center"><a class="nav-link card-body p-3" href="/assignments/3/">Assignment 2B</a></div></li>
                <li class="nav-item me-2"><div class="card text-center"><a class="nav-link card-body p-3" href="/assignments/4/">Assignment 3A</a></div></li>
                <li class="nav-item me-2"><div class="card text-center"><a class="nav-link card-body p-3" href="/assignments/5/">Assignment 3B</a></div></li>
            </ul>
        </div>
    </nav>
    <div class="text-center text-muted"><small>navigate here</small></div>
</div>