<div class="container">
    <p class="mb-1">&copy; <span id="copyrightYear"></span> Ramiyan Gangatharan - 100835223</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="/" class="text-muted">Home</a></li>
        <li class="list-inline-item"><a href="/blog" class="text-muted">Blog</a></li>
        <li class="list-inline-item"><a href="https://www.linkedin.com/in/ramiyan-gangatharan/" class="text-muted">LinkedIn</a></li>
        <li class="list-inline-item"><a href="/TOC" class="text-muted">Terms &amp; Conditions</a></li>
    </ul>
</div>
<script>document.getElementById("copyrightYear").textContent = new Date().getFullYear();</script>