<div class="text-center mt-4 mb-4">
    <nav class="navbar-expand-lg navbar-light bg-transparent">
        <div class="container-fluid d-flex justify-content-center">
            <ul class="navbar-nav d-flex flex-wrap justify-content-center">
                <li class="nav-item me-2"><div class="card text-center"><a class="nav-link card-body p-3" href="/labs/">lab 1A</a></div></li>
                <li class="nav-item me-2"><div class="card text-center"><a class="nav-link card-body p-3" href="/labs/1/">lab 1B</a></div></li>
                <li class="nav-item me-2"><div class="card text-center"><a class="nav-link card-body p-3" href="/labs/2/">lab 2A</a></div></li>
                <li class="nav-item me-2"><div class="card text-center"><a class="nav-link card-body p-3" href="/labs/3/">lab 2B</a></div></li>       
                <li class="nav-item me-2"><div class="card text-center"><a class="nav-link card-body p-3" href="/labs/5/">lab 3A</a></div></li>
                <li class="nav-item me-2"><div class="card text-center"><a class="nav-link card-body p-3" href="/labs/4/">lab 3B</a></div></li>
            </ul>
        </div>
    </nav>
    <div class="text-center text-muted"><small>navigate here</small></div>
</div>